@import '~bootstrap/scss/bootstrap';
@import "./partials/hamburger";
@import "./partials/listapartments";
@import "./partials/newapartment";
@import "./partials/sponsors";
@import "./partials/dropin";
@import "./partials/messaggi";
@import "./partials/dashboard";
@import "./partials/showapartment";

.header-content{
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 10000;
    aside{
        background-color: #146C94;
        color: white;
        width: 100%;
        height: 50px;
        .row-content{
            line-height: 50px;
            a{
                color:white;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }

        }
}
    header {
        height: 70px;
        width: 100%;
        background-color: white;
        .logo {
            a{
                width: 100%;
                img {
                    width: 70px;
                }

            }

        }
        .navbar {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    color: #146C94;
                    a {
                        text-decoration: none;
                        color: #146C94;
                    }
                }
            }

        }
        .log-out-button{
                margin: 20px;
                color: #146C94;
                border-radius: 5px;
                border: 1px solid #146C94;
                background-color: white;
                &:hover {
                    background-color: rgba(25, 167, 206, 0.378);
                    transition: background-color 0.2s ;
                }
            }
    }


.main-wrapper{
    padding-top: 120px;
    height: calc(100vh - 120px);

    .form-hidden{
        width: 100%;
        border: none;
        &:focus{
            border:none;
            outline: none;
        }
    }
    .apartment-content{
        h4{
            color: #724D3F;
        }
        .apartment{
            a{
                text-decoration: none;
            }
            .card{
                width: 300px;
                position: relative;
                // &:hover .text-content{
                //     display: block;

                // }
                .card-image{
                    width: 100%;
                    height: 180px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        box-shadow: 10px 10px 5px rgb(208, 208, 208);
                        &:hover{
                            box-shadow: 10px 10px 5px rgba(25, 167, 206, 0.289);
                        }
                    }
                }
                .text-content{
                    h5{
                        color: #146C94;
                    }
                }
            }
        }
    }
}

.action-button {
    .btn-pers {
        background-color: #146C94;
        color: white;
    }
}

h1{
    color: #146C94;
    text-align: center;
    margin: 30px 0;
}

.t-desktop {
    .btn-pers {
        background-color: #146C94;
    }
}

.show-msg {
    .card {
        border: 2px solid #146C94;
        .card-header {
            background-color: #146C94;
            color: white;
        }
        .card-footer {
            background-color: #146C94;
            color: white;
        }
    }


}
