@import '~bootstrap/scss/bootstrap';

header {
    height: 60px;
    background-color:#F6F1F1;
    border-bottom: 1px solid #146C94 ;
    .logo {
        a{
            width: 100%;
            img {
                width: 20%;
                padding: 3px;
            }
        }

    }
    .navbar {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                color: #146C94;
                a {
                    text-decoration: none;
                    color: #146C94;
                }
            }
        }
    }
}

.main-wrapper{
    height: calc(100vh - 60px);
    .form-hidden{
        width: 100%;
        border: none;
        &:focus{
            border:none;
            outline: none;
        }
    }
}


aside{
    background-color: lightgray;
    color: black;
    ul{
        list-style: none;
        padding-top:30px;
        a{
            color:black;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.image{
    width: 700px;
    img{
        width: 100%;
    }
}
