@import '~bootstrap/scss/bootstrap';
@import "./partials/hamburger";

header {
    height: 60px;
    background-color:#F6F1F1;
    border-bottom: 1px solid #146C94 ;
    .logo {
        width: 20%;
        max-height: 60px;
        a{
            display: block;
            width: 20%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                // padding: 3px;
            }
        }

    }
    .navbar {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                color: #146C94;
                a {
                    text-decoration: none;
                    color: #146C94;
                }
            }
        }

    }
    .log-out-button{
            margin: 20px;
            color: #146C94;
            border-radius: 5px;
            border: 1px solid #146C94;
            &:hover {
                background-color: #19A7CE;
            }
        }
}

.main-wrapper{
    height: calc(100vh - 60px);
    .form-hidden{
        width: 100%;
        border: none;
        &:focus{
            border:none;
            outline: none;
        }
    }
}


aside{
    background-color: lightgray;
    color: #146C94;
        a{
            color:#146C94;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }


.image{
    width: 700px;
    img{
        width: 100%;
    }
}
