.card-m {
    background-color: #146C94;
    display: none;
    margin: 10px auto;
    border: 2px solid #724D3F;
    color: white;
    .badge {
        margin-bottom: 15px;
    }
    .action {
        a {
            border: 1px solid white;
            background-color: #724D3F;
            color: white;
        }
        button {
            border: 1px solid white;
            background-color: #724D3F;
            color: white;
        }
    }
}

@media screen and (max-width: 600px){
    .list {
      display: none;
    }
    .card-m {
      display: block;
    }
  }
