@media screen and (min-width: 600px){

    .container-d{
        width: 50%;
        margin: auto;
        .brown, p, input{
            color: #724D3F;
        }
        .btn-services{
            border: 1px solid #146C94;
            color: #146C94;
            &:focus {
                background-color: #146C94;
                color: white;
            }

        }
        .btn-submit{
            color: #146C94;
            background-color: #146C94;
            border: 1px solid #146C94;
            color: white;
            margin-top: 20px;
            margin-bottom: 50px;
            &:hover {
              background-color: #724D3F;
              border: 1px solid #724D3F;
            }
        }
    }
}
@media screen and (max-width: 600px){

    .container-d{
        text-align: center;
        width: 100%;
        margin: auto;
        .brown, p, input{
            color: #724D3F;
        }
        .btn-services{
            border: 1px solid #146C94;
            color: #146C94;
            &:focus {
                background-color: #146C94;
                color: white;
            }

        }
        .btn-submit{
            color: #146C94;
            background-color: #146C94;
            border: 1px solid #146C94;
            color: white;
            &:hover {
              background-color: #724D3F;
              border: 1px solid #724D3F;
            }
        }
        .selected {
            justify-content: center;
        }

        button {
            margin: 10px 0 30px 0;

        }
    }
}
